/* PP Neue York Font Family */
@font-face {
  font-family: 'PP Neue York';
  src: url('/fonts/PPNeueYork-NarrowExtrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue York';
  src: url('/fonts/PPNeueYork-NarrowMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue York';
  src: url('/fonts/PPNeueYork-NarrowLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
